{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.jquery-validation" }}
{{js "js/account-setting.js"}}
{{css "css/user-portal.css"}}

{{#fillZone "breadcrumbs"}}
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="#"><i class="icon fw fw-home"></i> <span class="hidden-xs">Home</span></a></li>
            <li class="active"><a href="#">Account Settings</a></li>
        </ol>
    </div>
{{/fillZone}}

{{#fillZone "content"}}
    <div class="body-wrapper acc-settings">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Account Settings</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="settings-nav sidebar-nav">
                        <ul class="nav nav-pills nav-stacked nav-filter" id="acc-settings-menu">
                            <li class="collapse-li">
                                <a data-toggle="collapse" data-parent="#acc-settings-menu" href="#profile-menu" class="collapsed">{{t "user-portal.user.account.profile"}}<span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="profile-menu">
                                    {{#each profiles}}
                                        <li>
                                            <a href="#{{this}}" class="" data-toggle="tab">{{this}}</a>
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                            <li>
                                <a href="#password" class="" data-toggle="tab">{{t "user-portal.user.account.password"}}</a>
                            </li>
                            <!--<li>-->
                                <!--<a href="#authentication" class="" data-toggle="tab">{{t "user-portal.user.account.multiFactor"}}</a>-->
                            <!--</li>-->
                            <li>
                                <a href="#security-questions" class="" data-toggle="tab">{{t "user-portal.user.account.securityQ"}}</a>
                            </li>
                            <li class="collapse-li">
                                <a data-toggle="collapse" data-parent="#acc-settings-menu" href="#asscciations-menu" class="collapsed">{{t "user-portal.user.account.association"}}<span class="arrow"></span></a>
                                <ul class="sub-menu collapse" id="asscciations-menu">
                                    <li>
                                        <a href="#local" class="" data-toggle="tab">{{t "user-portal.user.account.association.local"}}</a>
                                    </li>
                                    <li>
                                        <a href="#federated" class="" data-toggle="tab">{{t "user-portal.user.account.association.federated"}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- page content -->
                    <div class="tab-content settings-content">
                        {{#each profiles}}
                            <div class="tab-pane" id="{{this}}">
                                <div class="col-md-12">
                                    {{fragment "org.wso2.carbon.iam.user-portal.feature.profile" profileName=this
                                    actionId=actionId}}
                                </div>
                            </div>
                        {{/each}}
                        <div class="tab-pane" id="password">
                            <div class="col-md-12">
                                {{fragment "org.wso2.carbon.iam.user-portal.feature.reset-password" actionId=actionId}}
                            </div>
                        </div>
                        <!--not implemented yet-->
                        <!--<div class="tab-pane" id="authentication">-->
                            <!--<h3>Multi-Factor Authentication</h3>-->
                            <!--<div class="col-md-12">-->

                            <!--</div>-->
                        <!--</div>-->
                        <div class="tab-pane" id="security-questions">
                            <div class="col-md-12">
                                {{fragment "org.wso2.carbon.iam.user-portal.feature.security-questions"}}
                            </div>
                        </div>
                        <div class="tab-pane" id="local">
                            <h3>Local Associations</h3>
                            <div class="col-md-12">

                            </div>
                        </div>
                        <div class="tab-pane" id="federated">
                            <h3>Federated Associations</h3>
                            <div class="col-md-12">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}
