<div class="hero-unit row">
	<div class="hero-text span4">
		<img src="{{url "/themes/portal/img/logo-banner.png"}}">
		<h1>Create Dashboards, Gadgets &amp; Microsites in your browser!</h1>
		<p>
			WSO2 User Engagement Server is the ultimate open-source solution for dynamic web content creation, powered by <a href="http://jaggeryjs.org">Jaggery</a>.
			
			Try out some samples now.
		</p>
		
		<a class="btn-try-samples" href="{{httpUrl}}/ceo-dash" target="_blank"><i class="icon-suitcase"></i> CEO Dashboard</a>
		<a class="btn-try-samples" href="{{httpUrl}}/climate" target="_blank"><i class="icon-globe"></i> Climate Change</a>
	</div>

	<div class="hero-screens span8">
		<img src="{{url "/themes/portal/img/banner.png"}}">
	</div>
</div>

<!-- features -->
<div class="row row-features">
	<div class="span12">
		<div class="row">
			<div class="span12 large-intro">
				<h1>Give your data a whole new meaning!</h1>
				<h3>Everything you need to create full fledged Dashboards and Microsites</h3>
			</div>
			<div class="span6 feature-desc">
				<h3>Open Social Gadgets</h3>
				<p>
					Authoring and sharing open social gadgets is one of the primary use-cases of the User Engagement Server. You can compose gadgets with inter gadget and container communication with only client-side web technologies. UES also comes with a programming API where gadget developers can consume and build dynamic gadgets. These gadgets can be published to the integrated store and can serve as reusable widgets for web content creation.
				</p>
			</div>

			<div class="span6 scrollblock scrollblock-gadgets">
				<div id="intro-gadget-exports" class="element">
					<div id="gadgetAreaIntro-0" class="gadget"></div>

				</div>
				<div id="intro-gadget-gdp" class="element">

					<div id="gadgetAreaIntro-1" class="gadget"></div>

				</div>
				<div id="feature-slider" class="element">
					<div class="row">
						<div class="span2">
							<input id="SliderSingle" type="slider" name="price" value="20" />
							<span class="slider-year"></span>
						</div>
					</div>

				</div>
			</div>

		</div>
	

		<div class="row">
			<div class="span6 scrollblock">
				<div id="feature-dashboard">
					<img src="{{url "/themes/portal/img/portal-feature-dashboard.png"}}">
				</div>
			</div>
			<div class="span6 feature-desc">
				<h3>Dashboards &amp; Microsites</h3>
				<p>
					User Engagement Server gives you a graphical interface to create visually appealing dashboards. You can add reusable gadgets from the store, drag and drop them on the dashboard grid and create custom layouts as you wish.
					You can also create microsites with multiple web pages, and tie them all into an out of the box UES Single-Sign-On to provide necessary authentication and access control.

				</p>
			</div>

		</div>

		<div class="row">
			<div class="span6 feature-desc">
				<h3>jaggery.js</h3>
				<p>
					WSO2 User Engagement Server is backed by Jaggery run-time, where you can create full-fledged web applications purely in JavaScript. Microsites & dashboards created with UES are deployed as jaggery web applications, where you are given the full flexibility to make modifications according to your needs. The rich server-side programming API provided by Jaggery enables you to create Mashups and APIs as part of your microsite making them feature rich.
				</p>
			</div>
			
			<div class="span6 scrollblock">
				<div id="feature-jaggery" class="txt-right">
					<img src="{{url "/themes/portal/img/portal-feature-jaggery.png"}}">
				</div>
			</div>
			

		</div>
	
		<div class="row">
			<div class="span6 scrollblock">
				<div id="feature-ide">
					<img src="{{url "/themes/portal/img/portal-feature-ide.png"}}">
				</div>
			</div>
			<div class="span6 feature-desc">
				<h3>Web Based IDE</h3>
				<p>
					You no longer have to switch back &amp; forth between your desktop and browser. Once you create a microsite within UES, you can open it in editor mode and write your custom HTML, JavaScript and Jaggery using the built-in web IDE. The editor comes with code completion & formatting, auto save & recovery and code snippet inclusion.

				</p>
			</div>

		</div>
	
		<div class="row">
			<div class="span6 feature-desc">
				<h3>Enterprise Store</h3>
				<p>
					The User Engagement Server comes with a Store out of the box. The Store provides you the capability to browse Gadgets, search on preferences and add them to your pages. You can also publish new gadgets to the store, manage development time and run-time lifecycles. The Store also comes with a REST API, where you can easily integrate to the pages you create.
					<br>
					<br>
					<a href="/store">Check out the Gadget Store now</a>
				</p>
			</div>
			<div class="span6 scrollblock">
				<div id="feature-store" class="txt-right">
					<img src="{{url "/themes/portal/img/portal-feature-store.png"}}">
				</div>
			</div>
			

		</div>
		
		<div class="row">
			<div class="span6 scrollblock">
				<div id="feature-browser">
					<img src="{{url "/themes/portal/img/portal-feature-browser.png"}}">
				</div>
			</div>
			<div class="span6 feature-desc">
				<h3>Govern Web Components</h3>
				<p>
					UES is packed with a web based file browser, where you can govern the components you have created. You can create, delete, copy, cut and paste directories and files in your microsites and dashboards using this view. You can also publish these components as gadgets or sites to the Enterprise Store.

				</p>
			</div>

		</div>
	

		<div class="row">
			<div class="span6 feature-desc">
				<h3>Responsive Layouts</h3>
				<p>
					The standard dashboards created by UES are responsive and generated by a mobile first template. It works in your tablet as good as in your browser. This enables you to access your business data, engage with your users and handle your business from wherever you are.
				</p>

			</div>
			<div class="span6 scrollblock">
				<div id="feature-responsive" class="txt-right">
					<img src="{{url "/themes/portal/img/portal-feature-responsive.png"}}">
				</div>
			</div>
		</div>
	</div>
</div>
