{{layout "account-setting"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{js "js/user-account.js"}}
{{css "css/custom.css"}}

{{#fillZone "content"}}
    <div class="page-content">
        <div class="row" id="account-content">
        </div>
    </div>
{{/fillZone}}