<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png" />
    {{/placeholder}}
    <title>{{#placeholder "title"}}UUF Foundation{{/placeholder}}</title>
    {{placeholder "css"}}
    {{placeholder "headJs"}}
    {{placeholder "headOther"}}
</head>

<body>
<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="{{@contextPath}}/">
                <img src="{{public "images/logo.png"}}" class="logo" />
                <h1>{{@config.appName}}</h1>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
            {{defineZone "usermenu"}}
        </div>
    </div>
</header>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- start of menu -->
            {{defineZone "menubar"}}
            <!-- end of menu -->
        </div>
    </div>
</nav>

<div class="page-content-wrapper">
    <div class="container-fluid body-wrapper">
        {{defineZone "content"}}
    </div>
</div>
<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        {{defineZone "footer"}}
    </div>
</footer>
<!-- /footer -->
{{placeholder "js"}}
</body>
</html>
