{{js "js/reset-password.js"}}

<h3>{{i18n "password.reset"}}</h3>
<hr/>
<div class="message message-info">
    <h4><i class="icon fw fw-info"></i>{{i18n "password.info.header"}}</h4>
    <p>{{i18n "password.info.body"}}</p>
</div>
{{#if success}}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon fw fw-success"></i>
        {{message}}
    </div>
{{else}}
    <div class="alert alert-danger" role="alert">
        {{i18n message number}}
        <button type="errorButton" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
        </span>
        </button>
    </div>
{{/if}}
<form method="post" class="form-horizontal" id="password-update-form" action="?reset-password#password">

    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label class="control-label" for="oldPassword">{{i18n "password.reset.old"}}<span>*</span></label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control"
                   required data-schemaformat="password" autocomplete="off"/>
        </div>
    </div>
    <div class="form-group password_strength_meter " >
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label class="control-label" for="newPassword">{{i18n "password.reset.new"}}<span>*</span></label>
            <input type="password" name="newPassword" id="newPassword" class="form-control"
                   required data-schemaformat="password" autocomplete="off"/>

            <div id="password_strength_wrap">
                <div class="pwd_str">
                    <div id="passwordDescription">Password not entered</div>
                    <div id="passwordStrength" class="strength0"></div>
                </div>
                <div id="pswd_info">
                    <i>Make your password strong by having:</i>
                    <ul>
                        <li class="invalid" id="length"><span class="status_icon"></span>At least 6 characters</li>
                        <li class="invalid" id="pnum"><span class="status_icon"></span>At least one number</li>
                        <li class="invalid" id="capital"><span class="status_icon"></span>At least one lowercase &amp; one uppercase letter</li>
                        <li class="invalid" id="spchar"><span class="status_icon"></span>At least one special character</li>
                    </ul>
                </div><!-- END pswd_info -->
            </div><!-- END pwd_strength_wrap -->
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label class="control-label" for="confirmPassword">{{i18n "password.reset.new.confirm"}}<span>*</span></label>
            <input type="password" name="confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control"
                   required data-schemaformat="password" autocomplete="off"/>
        </div>
    </div>
    <input class="btn btn-primary add-margin-bottom-3x" type="submit" value="Update"/>
</form>
