<<<<<<< HEAD
<<<<<<< HEAD
{{js "js/reset-password.js"}}

<h3>{{t "password.reset"}}</h3>
<hr/>
<div class="message message-info">
    <h4><i class="icon fw fw-info"></i>{{t "password.info.header"}}</h4>
    <p>{{t "password.info.body"}}</p>
=======
=======
{{js "js/reset-password.js"}}

>>>>>>> 4520c3c... Reset password code structuring
<h3>{{t "user-portal.user.password.reset"}}</h3>
<hr/>
<<<<<<< HEAD
<div class="alert alert-info" role="alert">
    <i class="icon fw fw-warning"></i>
<<<<<<< HEAD
    In order to update your password, you should re-enter your current password.
>>>>>>> 0413463... update user portal update password feature
=======
    In order to update your password, you must re-enter your current password.
>>>>>>> 852eb9c... update UI texts correctly
=======
<div class="message message-info">
    <h4><i class="icon fw fw-info"></i>{{t "user-portal.user.password.info.header"}}</h4>
    <p>{{t "user-portal.user.password.info.body"}}</p>
>>>>>>> f4cb806... UI fixes - account settings
</div>
{{#if success}}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon fw fw-success"></i>
        {{message}}
    </div>
{{/if}}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<form method="post" class="form-horizontal" id="password-update-form" action="?reset-password#password">

    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label for="oldPassword">{{t "password.reset.old"}}<span>*</span></label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control" required/>
        </div>
    </div>
    <div class="form-group password_strength_meter " >
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label for="newPassword">{{t "password.reset.new"}}<span>*</span></label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" required data-schemaformat="password"/>
=======
<form method="post" class="form-horizontal" id="password-update-form" action="?reset-password#password">
>>>>>>> bb71427... fix for tabs not redirecting issue

            <div id="password_strength_wrap">
                <div class="pwd_str">
                    <div id="passwordDescription">Password not entered</div>
                    <div id="passwordStrength" class="strength0"></div>
                </div>
                <div id="pswd_info">
                    <i>Make your password strong by having:</i>
                    <ul>
                        <li class="invalid" id="length"><span class="status_icon"></span>At least 6 characters</li>
                        <li class="invalid" id="pnum"><span class="status_icon"></span>At least one number</li>
                        <li class="invalid" id="capital"><span class="status_icon"></span>At least one lowercase &amp; one uppercase letter</li>
                        <li class="invalid" id="spchar"><span class="status_icon"></span>At least one special character</li>
                    </ul>
                </div><!-- END pswd_info -->
            </div><!-- END pwd_strength_wrap -->
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
            <label for="confirmPassword">{{t "password.reset.new.confirm"}}<span>*</span></label>
            <input type="password" name="confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control" required />
=======
<form method="post" class="form-horizontal">
=======
<form method="post" class="form-horizontal" id="password-update-form">
>>>>>>> bb876d9... Adding confirm password validation
=======
<form method="post" class="form-horizontal" action="?reset-password">
>>>>>>> cd1cabd... Adding temporary fix for post issue in fragments.
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <label for="oldPassword">{{t "user-portal.user.password.reset.old"}}</label>
            <input type="password" name="oldPassword" id="oldPassword" class="form-control"/>
        </div>
    </div>
    <div class="form-group password_strength_meter " >
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <label for="newPassword">{{t "user-portal.user.password.reset.new"}}</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" data-schemaformat="password"/>

            <div id="password_strength_wrap">
                <div class="pwd_str">
                    <div id="passwordDescription">Password not entered</div>
                    <div id="passwordStrength" class="strength0"></div>
                </div>
                <div id="pswd_info">
                    <i>Make your password strong by having:</i>
                    <ul>
                        <li class="invalid" id="length"><span class="status_icon"></span>At least 6 characters</li>
                        <li class="invalid" id="pnum"><span class="status_icon"></span>At least one number</li>
                        <li class="invalid" id="capital"><span class="status_icon"></span>At least one lowercase &amp; one uppercase letter</li>
                        <li class="invalid" id="spchar"><span class="status_icon"></span>At least one special character</li>
                    </ul>
                </div><!-- END pswd_info -->
            </div><!-- END pwd_strength_wrap -->
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <label for="confirmPassword">{{t "user-portal.user.password.reset.new.confirm"}}</label>
<<<<<<< HEAD
<<<<<<< HEAD
            <input type="text" name="confirmPassword" id="confirmPassword" class="form-control"/>
>>>>>>> 0413463... update user portal update password feature
=======
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
>>>>>>> ec888d6... Adding password strength to password input
=======
            <input type="password" name="confirmPassword" id="confirmPassword" name="confirmPassword" class="form-control" />
>>>>>>> bb876d9... Adding confirm password validation
        </div>
    </div>
    <input class="btn btn-primary add-margin-bottom-3x" type="submit" value="Update"/>
</form>
