<<<<<<< HEAD
<<<<<<< HEAD
{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Home | " @config.appName}}
<<<<<<< HEAD
<<<<<<< HEAD
{{#fillZone "content"}}
    <h3>{{t "user.portal.title"}}</h3>
=======
<h1>it works !</h1>
{{#fillZone "content"}}
    <h3>User Portal</h3>
>>>>>>> d143a3c... Added pages, self-signup and default-user-attributes
=======
{{#fillZone "content"}}
    <h3>{{t "user.portal.title"}}</h3>
>>>>>>> 5c9fb84... Fixed some build issues and added i18n.
    <hr />
    <p>User portal user stories.</p>
    <ul>
        <li><a href="{{@contextPath}}/user/self-signup">New user? Sign-up here!</a></li>
<<<<<<< HEAD
        <li><a href="{{@contextPath}}/user/attribute-profile/default-attributes">My default profile attributes</a></li>
        <li><a href="{{@contextPath}}/user/attribute-profile/select-for-new-attribute-profile">New profile attributes</a></li>
    </ul>
{{/fillZone}}
=======
<h1>it works !</h1>
>>>>>>> 6906998... Made the UUF app for user portal buildable
=======
{{layout "org.wso2.carbon.uuf.is.foundation.main"}}
{{title "Home | " @config.appName}}
<h1>it works !</h1>
>>>>>>> 7014329... Made user portal App Runnable
=======
        <li><a href="{{@contextPath}}/user/default-attributes">My default profile attributes</a></li>
    </ul>
{{/fillZone}}
>>>>>>> d143a3c... Added pages, self-signup and default-user-attributes
