{{secured}}
{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Reset Password | " @config.appName}}
{{css "css/admin-portal.css"}}
{{js "js/admin-initiated-password-reset.js"}}


{{#fillZone "content"}}
    <div class="body-wrapper">
        <div class="page-header">
            <h1>{{i18n "recovery.reset.password"}}</h1>
        </div>
        <form class="form-horizontal" role="form" method="post">

            <label class="control-label">Select password reset method</label>
    <span class="fw-stack">
    <i class="fw fw-circle-outline fw-stack-2x"></i>
    <i class="fw fw fw-question fw-stack-1x"></i>
</span>


            <!-- collapse -->
            <div id="group-1" class="panel-group panel-extended add-margin-bottom-2x" role="tablist"
                 aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading flex-container collapsed" role="tab" id="heading2" data-toggle="collapse"
                         data-parent="#group-1" href="#accordion2" aria-controls="accordion2">
                        <label class="radio custom-radio flex-item">
                            <input type="radio" name="radio-group"> 
                             <span class="helper"></span> 
                             </label>
                        <h4 class="panel-title flex-item">
                            <span class="heading">Offline OTP</span>
                            <span class="description truncate" title="">Admin initiated password reset via offline passcode</span> 
                        </h4>

                        <div class="status flex-item"></div>
                    </div>
                    <div id="accordion2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-6 pw">
                                        <input class="form-control" name="newPassword" id="newPassword"
                                               data-schemaformat="password" type="hidden">
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit" id="genbtn">Generate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading flex-container collapsed" role="tab" id="heading3" data-toggle="collapse"
                         data-parent="#group-1" href="#accordion3" aria-controls="accordion3">
                        <label class="radio custom-radio flex-item">
                            <input type="radio" name="radio-group"> 
                             <span class="helper"></span> 
                             </label>
                        <h4 class="panel-title flex-item">
                            <span class="heading">Email OTP</span>
                       <span class="description truncate" title="">Admin initiated password reset via Email OTP
                       </span> 
                        </h4>

                        <div class="status flex-item"></div>
                    </div>
                    <div id="accordion3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading flex-container collapsed" role="tab" id="heading4" data-toggle="collapse"
                         data-parent="#group-1" href="#accordion4" aria-controls="accordion4">
                        <label class="radio custom-radio flex-item">
                            <input type="radio" name="radio-group"> 
                             <span class="helper"></span> 
                             </label>
                        <h4 class="panel-title flex-item">
                            <span class="heading">Reset Link</span>
                       <span class="description truncate" title="">Admin initiated password reset via Email OTP
                       </span> 
                        </h4>

                        <div class="status flex-item"></div>
                    </div>
                    <div id="accordion4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

            </div>
            <!-- /collapse -->

        </form>
    </div>
{{/fillZone}}