<div class="form-group password_strength_meter">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <div class="well">

            <label class="control-label" for="newPassword">{{i18n "users.add.password"}}
                <span class="requiredAstrix"> *</span></label>
            <div class="form-group form-inline">
                <input type="password" name="newPassword" id="newPassword" class="form-control"
                       required data-schemaformat="password" placeholder="Password" autocomplete="off"/>


                <input class="btn btn-primary add-margin-bottom-3x" type="button" name="generatePassword"
                       id="generatePassword" value="Generate Password"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="confirmPassword">{{i18n "users.confirm.password"}}
                    <span class="requiredAstrix"> *</span></label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                       required data-schemaformat="password" autocomplete="off"/>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="helper"
                              title="Enable if need to keep the account lock until verified.">
                            {{i18n "users.lock.account.check"}}</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">{{i18n "users.add.verification.method.label"}}
                    <span class="requiredAstrix"> *</span></label>
                <label class="control-label" for="email">{{i18n "users.add.email"}}
                </label>
                <input class="form-control" id="email" name="email" placeholder="{{i18n "users.add.placeholder.email"}}"
                       type="text">
            </div>

        </div>
    </div>
</div>