<<<<<<< HEAD
{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{css "css/user-portal.css"}}

{{#fillZone "breadcrumbs"}}
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="/user-portal"><i class="icon fw fw-home"></i>
                <span class="hidden-xs">{{t "applications.breadcrumb"}}</span></a>
            </li>
        </ol>
    </div>
{{/fillZone}}

{{#fillZone "content"}}
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{t "applications.header"}}</h1>
                    </div>
                    <div class="message message-info">
                        <h4><i class="icon fw fw-info"></i>{{t "no-applications.header"}}</h4>
                        <p>{{t "no-applications.body"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}
=======
{{layout "org.wso2.carbon.uuf.common.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <div class="page-header">
        <h1>{{t "user-portal.welcome"}}</h1>
        <p class="lead">{{t "user-portal.welcome.msg"}}</p>
    </div>
    <div class="row">
        <div class="media tab-responsive">
            <div class="media-left col-xs-1 col-sm-1 col-md-2 col-lg-2 hidden-xs">
                <ul class="list-group nav nav-pills nav-stacked" role="tablist">
                    <li class="list-group-item"><a href="{{@contextPath}}/login"><i class="fw fw-add
                    fw-2x"></i>
                        {{t "user-portal.user.add"}}</a></li>
                </ul>
                <ul class="list-group nav nav-pills nav-stacked" role="tablist">
                    <li class="list-group-item"><a href="{{@contextPath}}/account/signup"><i class="fw fw-add
                    fw-2x"></i>
                        {{t "user-portal.user.add"}}</a></li>
                </ul>
                <ul class="list-group nav nav-pills nav-stacked" role="tablist">
                    <li class="list-group-item"><a href="{{@contextPath}}/account/reset-password"><i class="fw fw-add
                    fw-2x"></i>
                        {{t "user-portal.user.password.reset"}}</a></li>
                </ul>
            </div>
        </div>
    </div>
{{/fillZone}}
>>>>>>> 6f4a6a3... Adding org.wso2.carbon.iam.user-portal.app to the product-is
