{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{css "css/user-portal.css"}}

{{#fillZone "breadcrumbs"}}
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="/user-portal"><i class="icon fw fw-home"></i>
                <span class="hidden-xs">{{i18n "applications.breadcrumb"}}</span></a>
            </li>
        </ol>
    </div>
{{/fillZone}}

{{#fillZone "content"}}
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>{{i18n "applications.header"}}</h1>
                    </div>
                    <div class="message message-info">
                        <h4><i class="icon fw fw-info"></i>{{i18n "no-applications.header"}}</h4>
                        <p>{{i18n "no-applications.body"}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}
