<<<<<<< HEAD
{{layout "unprivilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Logout | " @config.appName}}
{{css "css/user-portal.css"}}
{{js "js/script.js"}}

{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>Login Error!</strong>
            {{errorMessage}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}

    <div class="page-content-wrapper">
        <h3>Logging Out..</h3>
    </div>

{{/fillZone}}
=======
<div class="page-header">
<<<<<<< HEAD
    <h1>Logging Out</h1>
</div>
>>>>>>> 43350c9... Adding Login/Logout functionality.
=======
    <h3>Logging Out..</h3>
</div>
>>>>>>> 5a9a096... commenting out not implemented features.
