<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#placeholder "favicon"}}
        <link rel="shortcut icon" href="{{public "images/default-favicon.png"}}" type="image/png" />
    {{/placeholder}}
    <title>{{#placeholder "title"}}UUF Foundation{{/placeholder}}</title>
    {{placeholder "css"}}
    {{placeholder "headJs"}}
    {{placeholder "headOther"}}
</head>

<body class="sticky-footer">
<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand">
            <a href="{{@contextPath}}/">
                <img src="{{public "images/logo.png"}}" class="logo" alt="wso2" title="wso2"/>
                <span>{{@config.appName}}</span>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
            {{defineZone "usermenu"}}
        </div>
    </div>
</header>
<!-- breadcrumb -->
{{defineZone "breadcrumb"}}
<!-- /breadcrumb -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- start of menu -->
            {{defineZone "org.wso2.carbon.uuf.common.foundation.menubar"}}
            <!-- end of menu -->
        </div>
    </div>
</nav>

<div class="page-content-wrapper">
    <div class="container-fluid body-wrapper">
        <div class="page-header">
            <h1 style="margin: 20px; font:30px verdana, sans-serif;">Account Settings</h1>
        </div>

        <tbody>
        <table cellpadding="10px;" cellspacing="0" style="font:18px verdana, sans-serif; width:100%;">
            <tr style="height:170px;">
                <td style="width:20%; vertical-align:top;">
                    <ul class="nav nav-pills nav-stacked nav-filter" id="stacked-menu">
                        <li class="active"><a data-toggle="collapse" data-parent="#stacked-menu" href="#p1"
                                              class="">Profile<span class="caret arrow"></span></a>
                            <ul class="nav nav-pills nav-stacked collapse in" id="p1">

                                <li><a href="{{@contextPath}}/user/account/default-profile" class="profile" id="profileDefault">Default</a>
                                </li>
                                <li><a href="#" class="profile" id="profileSalesforce">Salesforce</a>
                                </li>
                                <li><a href="#" class="profile" id="profileTwitter">Twitter</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="">Password<span class="caret arrow"></span></a>
                        </li>
                        <li><a href="#" class="">Security Question(s)<span class="caret arrow"></span></a>
                        </li>
                        <li><a data-toggle="collapse" data-parent="#stacked-menu" href="#p2" class="">Associations<span
                                class="caret arrow"></span></a>
                            <ul class="nav nav-pills nav-stacked collapse" id="p2">
                                <li><a href="#" class="">Local</a>
                                </li>
                                <li><a href="#" class="">Federated</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>

                <td style="background-color:#f0f0f0; width:50%; vertical-align:top; text-align:left; border-left-width:30px;">
                    {{defineZone "content"}}
                </td>
            </tr>
        </table>
    </div>
</div>


<!-- footer -->
<footer class="footer">
    <div class="container-fluid">
        {{defineZone "org.wso2.carbon.uuf.common.foundation.footer"}}
    </div>
</footer>
<!-- /footer -->
{{defineZone "modal"}}
{{placeholder "js"}}
</body>
</html>