<div style="margin: 80px; font:18px verdana, sans-serif;">
    <h1>Default Profile</h1><br><br><br>
    <img id="profile-image" src="images/favicon.png"/><br><br>

    <div id="defaultProfile-body">
        <form>
            Username:<br>
            <input type="text" name="username" value="{{userName}}"><br><br>
            First name:<br>
            <input type="text" name="firstname" value="{{firstName}}"><br><br>
            Last name:<br>
            <input type="text" name="lastname" value="{{lastName}}"><br><br>
            Email Address:<br>
            <input type="text" name="emailadd" value="{{emailAdd}}"><br><br>
            Telephone:<br>
            <input type="text" name="telephone" value="{{telephone}}"><br><br>
            <button type="button">Update</button>
        </form>
    </div>
</div>
