{{secured}}
{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Add Group | " @config.appName}}
{{css "css/admin-portal.css"}}

{{#fillZone "content"}}

    <!-- navbar -->
    <div class="navbar-wrapper" xmlns="http://www.w3.org/1999/html">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/admin-portal/groups/">
                                <i class="fw fw-left fw-helper fw-helper-circle-outline"></i>
                                {{i18n "go.back"}}
                            </a>
                        </li>
                        <li class="active">
                            <a href="add">
                                <span class="icon fw-stack">
                                    <i class="fw fw-add fw-helper fw-helper-circle-outline"></i>
                                </span>
                                {{i18n "group.add.header"}}
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <!-- /navbar -->

    <div class="body-wrapper">
        <div class="page-header">
            <h1>{{i18n "group.add.header"}}</h1>
        </div>

        <ul id="tab" class="nav nav-tabs tabs">
            <li class="active"><a href="#general" title="General" data-toggle="tab"><i class="fw fw-task"
                                                                                       title="General"></i> {{i18n "groups.general"}}
            </a></li>
            <li><a href="#users" data-toggle="tab" title="Users"><i class="fw fw-user"
                                                                    title="Users"></i> {{i18n "groups.users"}} </a></li>
            <li><a href="#roles" data-toggle="tab" title="Roles"><i class="fw fw-google-docs"
                                                                    title="Roles"></i> {{i18n "groups.roles"}} </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="post">
                        {{#if domainNames}}
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                    <input type="hidden" name="domain" id="domain"
                                           class="form-control"/>
                                    <label for="domainSelector" class="control-label">{{i18n "identity.store"}}
                                        <span class="requiredAstrix"> *</span></label>
                                    <select class="form-control" id="domainSelector"
                                            data-primary="{{primaryDomainName}}">
                                        {{#each domainNames}}
                                            <option value={{this}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        {{/if}}
                        <!--<div class="form-group">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">-->
                        <!--<label for="inputGroupName" class="control-label">{{i18n "groups.name"}}-->
                        <!--<span class="requiredAstrix"> *</span></label>-->
                        <!--<input class="form-control" id="inputGroupName" placeholder="Group Name" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">-->
                        <!--<label for="inputDescription" class="control-label">{{i18n "groups.description"}}-->
                        <!--<span class="requiredAstrix"> *</span></label>-->
                        <!--<input class="form-control" id="inputDescription" placeholder="Group Description"-->
                        <!--type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- page content -->
                        <div class="tab-content settings-content">
                            {{#each profiles}}
                                <div class="tab-pane" id="{{this}}">
                                    <div class="col-md-12">
                                        {{fragment "org.wso2.carbon.iam.admin-portal.feature.profile" profileName="group"}}
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <input class="btn btn-primary add-margin-bottom-3x" type="submit" name="addGroup"
                               value={{i18n "groups.add.button"}}>
                        </input>
                    </form>
                </div>
            </div>
            <div class="tab-pane" id="users">
                <div class="col-md-12">
                    {{i18n "groups.users"}}
                </div>
            </div>
            <div class="tab-pane" id="roles">
                <div class="col-md-12">
                    {{i18n "groups.roles"}}
                </div>
            </div>
        </div>


    </div>
{{/fillZone}}