<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>My Identity</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{{url "/themes/theme1/ui/css/bootstrap.css"}}" rel="stylesheet">
    <link href="{{url "/themes/theme1/ui/css/bootstrap-theme.css"}}" rel="stylesheet">
    <link href="{{url "/themes/theme1/ui/css/bootstrap-missing.css"}}" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="{{url "/themes/theme1/ui/css/main.css"}}">
    <link rel="stylesheet" href="{{url "/themes/theme1/ui/css/smoothness/jquery-ui-1.10.3.custom.min.css"}}">
    <link rel="stylesheet" href="{{url "/themes/theme1/ui/css/smoothness/jqueryui-themeroller.css"}}">
    <link rel="stylesheet" href="{{url "/themes/theme1/ui/css/dialog.css"}}">
    <link rel="stylesheet" href="{{url "/themes/theme1/ui/font-awesome/css/font-awesome.min.css"}}">
    <!--<script src="{{url "/themes/theme1/ui/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}}"></script> -->
    <script src="{{url "/themes/theme1/ui/js/vendor/jquery-1.10.1.min.js"}}"></script>
    <script src="{{url "/themes/theme1/ui/js/vendor/jquery-ui-1.10.3.custom.min.js"}}"></script>
        <script src="{{url "/themes/theme1/ui/js/vendor/modal.js"}}"></script>
    <script src="{{url "/js/main.js"}}"></script>

</head>
<body>

<div id="dcontainer"></div>
<div class="modal fade" id="messageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


<!-- Part 1: Wrap all page content here -->
<div id="wrap">
	{{include error}}
    {{include header}}
    {{include body}}


    <!-- /container -->
    <div id="push"></div>
</div>

<footer id="footer">
    <div class="container">
        <p class="muted credit">&copy; WSO2 2013</p>
    </div>
</footer>



<script src="{{url "/themes/theme1/ui/js/vendor/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/theme1/ui/js/vendor/jquery.validate.min.js"}}"></script>
<script src="{{url "/themes/theme1/ui/js/main.js"}}"></script>
</body>
</html>
