{{secured}}
{{layout "privilege"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Reset Password | " @config.appName}}
{{css "css/admin-portal.css"}}
{{js "js/forced-password-reset.js"}}

{{#fillZone "content"}}
    <div class="body-wrapper">
        <div class="page-header">
            <h1>{{i18n "recovery.reset.password"}}</h1>
        </div>
        <form class="form-horizontal" role="form" method="post">

            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <label for="verificationSelector" class="control-label">{{i18n "recovery.reset.selectMethod"}}
                    </label>
                    <select class="form-control" id="verificationSelector"
                            data-primary={{i18n "recovery.reset.select.with.reset.link"}}>
                        <option>{{i18n "recovery.reset.select.with.offline.OTP"}}</option>
                        <option>{{i18n "recovery.reset.select.with.email.OTP"}}</option>
                        <option>{{i18n "recovery.reset.select.with.reset.link"}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group password_strength_meter ">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="well">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label"
                                       for="newPassword">{{i18n "recovery.reset.password.new"}}</label>
                            </div>
                            <div class="col-md-6 pw">
                                <input class="form-control" name="newPassword" id="newPassword"
                                       data-schemaformat="password" type="hidden">
                            </div>
                            <div class="col-md-6">
                                <input class="btn btn-default" name="generatePassword" id="generatePassword"
                                       value="Generate"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" name="reset" id="reset" value="Reset" disabled/>
            </div>

        </form>
    </div>
{{/fillZone}}