<h3>{{t "user-portal.user.profile"}}</h3>
<hr/>
<form method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumbnail icon">
                <div class="square-element setbgcolor">
                    <a class="sub-icon" title="Edit"><i class="fw fw-camera fw-lg"></i></a>
                    <div class="user-name-icon">D</div>
                </div>
            </div>
        </div>
    </div>
    {{#each uiEntries}}
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <label for="{{this.claimURI}}">{{this.displayName}}</label>
            <input type="text" name="{{this.claimURI}}" id="{{this.claimURI}}" class="form-control"
                   value="{{this.value}}" />
        </div>
    </div>
    {{/each}}
    <input class="btn btn-primary add-margin-bottom-3x" type="submit" value="Update"/>
</form>