{{layout "unprivilege"}}
{{title (t "password.recovery") " | " (t "app.name")}}
{{css "css/user-portal.css"}}
{{js "js/script.js"}}
{{js "js/left-navigation.js"}}
{{js "js/recover-password.js"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}

{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{t "user-portal.user.password.recovery.error"}}</strong>
            <span>{{t errorMessage}}
                <!--<br/>{{t "Provided username "}}{{username}}-->
            </span>
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
            </span>
            </button>
        </div>
    {{/if}}

    <div class="page-content-wrapper">
        <div class="container">
            <div class="recover-form-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="brand-container add-margin-bottom-5x">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-9 col-lg-9 center-block float-remove-sm
                                float-remove-xs pull-right-md pull-right-lg">
                                    <img class="img-responsive brand-spacer" src="{{public "images/logo-white.png"}}"
                                         alt="wso2-logo">
                                </div>
                            </div>
                            <h2 class="text-center-sm text-center-xs text-center-md text-right">{{@config.appName}}</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 login">
                        <div class="data-container">
                            {{#if isPasswordRecoveryEnabled}}
                                <form class="form-horizontal" method="post">
                                    <h3>{{t "user-portal.user.password.recovery"}}</h3>

                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <label for="input-email"
                                                   class="control-label">{{t "profile.username"}}</label>
                                            <input type="text" name="username" class="form-control"
                                                   id="input-username" placeholder="{{t "enter.your.username"}}"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <button type="submit" id="input-recovery-btn" class="btn btn-default
                                            btn-primary add-margin-right-2x">{{t "user-portal.user.next"}}</button>
                                        </div>
                                    </div>
                                </form>
                            {{else}}
                                <div>
                                    <h3>{{t "user-portal.user.password.recovery"}}</h3>

                                    <p>{{t "user-portal.user.recovery.not.enabled"}}</p>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <a href="{{@contextPath}}/" class="add-margin-top-2x">{{t
                                            "user-portal.applications.breadcrumb"}}</a>
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}