{{layout "unprivilege"}}
{{title (i18n "reset.password") " | " (i18n "app.name")}}
{{css "css/user-portal.css"}}
{{js "js/script.js"}}
{{js "js/left-navigation.js"}}
{{js "js/recover-password.js"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.jquery-validation" }}

{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "password.recovery.error"}}</strong>
            {{errorMessage}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
            </span>
            </button>
        </div>
    {{/if}}

    <div class="page-content-wrapper">
        <div class="container">
            <div class="recover-form-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="brand-container add-margin-bottom-5x">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-9 col-lg-9 center-block float-remove-sm float-remove-xs pull-right-md pull-right-lg">
                                    <img class="img-responsive brand-spacer" src="{{public "images/logo-white.png"}}"
                                         alt="wso2-logo">
                                </div>
                            </div>
                            <h2 class="text-center-sm text-center-xs text-center-md text-right">{{@config.appName}}</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 login">
                        <div class="data-container">
                            <form class="form-horizontal" method="post" id="password-update-form">
                                <h3>{{i18n "reset.password"}}</h3>

                                <p>{{i18n "select.new.password"}}</p>

                                <div class="form-group add-margin-top-5x password_strength_meter" >
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label class="control-label" for="newPassword">{{i18n "password"}}<span>*</span></label>
                                        <input type="password" name="newPassword" id="newPassword" class="form-control" required data-schemaformat="password"/>

                                        <div id="password_strength_wrap">
                                            <div class="pwd_str">
                                                <div id="passwordDescription">Password not entered</div>
                                                <div id="passwordStrength" class="strength0"></div>
                                            </div>
                                            <div id="pswd_info">
                                                <i>Make your password strong by having:</i>
                                                <ul>
                                                    <li class="invalid" id="length"><span class="status_icon"></span>At least 6 characters</li>
                                                    <li class="invalid" id="pnum"><span class="status_icon"></span>At least one number</li>
                                                    <li class="invalid" id="capital"><span class="status_icon"></span>At least one lowercase &amp; one uppercase letter</li>
                                                    <li class="invalid" id="spchar"><span class="status_icon"></span>At least one special character</li>
                                                </ul>
                                            </div><!-- END pswd_info -->
                                        </div><!-- END pwd_strength_wrap -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <label for="input-confirm-pass" class="control-label">
                                            {{i18n "password.reset.new.confirm"}}<span>*</span></label>
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                               required data-schemaformat="password">
                                    </div>
                                </div>

                                <div class="form-group add-margin-top-5x">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <button type="submit" value="update" class="btn btn-default btn-primary add-margin-right-2x">
                                            {{i18n "recover"}}
                                        </button>
                                        <button type="submit" class="btn btn-default btn-secondary hidden-xs hidden-sm">
                                            {{i18n "cancel"}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/fillZone}}