{{layout "unprivilege"}}
{{title (i18n "username.recovery") " | " (i18n "app.name")}}
{{css "css/user-portal.css"}}
{{js "js/script.js"}}
{{js "js/left-navigation.js"}}
{{js "js/recover-username.js"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}

{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "username.recovery.error"}}</strong>
            <span>{{i18n errorMessage}}
            </span>
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
            <span aria-hidden="true">
                <i class="fw fw-cancel"></i>
            </span>
            </button>
        </div>
    {{/if}}

    <div class="page-content-wrapper">
        <div class="container">
            <div class="signup-form-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="brand-container add-margin-bottom-5x">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 col-md-9 col-lg-9 center-block float-remove-sm float-remove-xs pull-right-md pull-right-lg">
                                    <img class="img-responsive brand-spacer" src="{{public "images/logo-white.png"}}"
                                         alt="wso2-logo">
                                </div>
                            </div>
                            <h2 class="text-center-sm text-center-xs text-center-md text-right">{{@config.appName}}</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 login">
                        <div class="data-container">
                            <form class="form-horizontal" method="post">
                                <h3>{{i18n "recover.username"}}</h3>
                                {{#if isUsernameRecoveryDisabled}}
                                        <div>
                                            <h3>{{i18n "username.recovery"}}</h3>
                                            <p>{{i18n "recovery.not.enabled"}}</p>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <a href="{{@contextPath}}/" class="add-margin-top-2x">
                                                        {{i18n "back.to.sign.in"}}</a>
                                                </div>
                                            </div>
                                        </div>
                                {{else}}
                                <p>{{i18n "fill.below.to.recover"}}</p>
                                <div class="form-group add-margin-top-5x">
                                     {{#each usernameRecoveryClaims}}
                                         {{log this}}
                                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                                <label class="control-label"
                                                       for={{claimLabel}}>{{displayName}}</label>
                                                <input type={{#if dataType}}{{dataType}}{{else}}"text"{{/if}} name={{claimURI}} id={{claimLabel}}
                                                                                                              class="form-control" placeholder={{displayName}}>
                                            </div>
                                     {{/each}}
                                </div>
                                <div class="form-group add-margin-top-5x">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        <button type="submit" class="btn btn-default btn-primary add-margin-right-2x">{{i18n "recover"}}</button>
                                        <a href="{{@contextPath}}/" class="hidden-xs hidden-sm">{{i18n "back.sign.in"}}</a>
                                        <!--<a href="/login" class="visible-xs visible-sm add-margin-2x text-center">Back to sign in</a>-->
                                    </div>
                                </div>
                                {{/if}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/fillZone}}
