{{fragment "org.wso2.carbon.uuf.common.foundation.ui.jquery-validation"}}
{{js "js/profile.js"}}

<form method="post" class="form-horizontal profile-form" action="?{{profile}}#{{profile}}" id="{{profile}}-form">
    {{#each uiEntries}}
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                <label class="control-label" for="{{claimURI}}">{{displayName}}<span>{{requiredIcon}}</span></label>
                <input type="{{dataType}}" name="{{claimURI}}" id="{{claimLabel}}" class="form-control"
                       maxlength="250" value="{{value}}" {{readonly}} {{required}}
                       pattern="{{regex}}"  />
            </div>
        </div>
    {{/each}}
    <input class="btn btn-primary add-margin-bottom-3x" type="submit" value="Update" id="update-profile"/>
</form>