{{fragment "org.wso2.carbon.uuf.common.foundation.ui.jquery-validation"}}
{{js "js/profile-details.js"}}
{{#if success}}
    {{#if message}}
        <div class="alert alert-success" role="alert">
            <i class="icon fw fw-success"></i><strong>{{i18n "profile.success"}}</strong>
            {{message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{else}}
    {{#if message}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "profile.failure"}}</strong>
            {{message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{/if}}
<form method="post" class="form-horizontal profile-form" action="?{{profile}}#{{profile}}" id="{{profile}}-form">
    {{#each uiEntries}}
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                <label class="control-label" for="{{claimURI}}">{{displayName}}<span>{{requiredIcon}}</span></label>
                <input type="{{dataType}}" name="{{claimURI}}" id="{{claimLabel}}" class="form-control"
                       maxlength="250" value="{{value}}" {{readonly}} {{required}}
                       pattern="{{regex}}"  />
            </div>
        </div>
    {{/each}}
    <input id="btn-{{profile}}" class="btn btn-primary add-margin-bottom-3x" type="submit" value="Update" />
</form>