{{css "css/security-questions.css"}}
{{js "js/security-questions.js"}}

<h3>{{i18n "account.securityQ"}}</h3>
<hr/>
{{#if success}}
    {{#if message}}
        <div class="alert alert-success" role="alert">
            <i class="icon fw fw-success"></i><strong>{{i18n "profile.success"}}</strong>
            {{i18n message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{else}}
    {{#if message}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "profile.failure"}}</strong>
            {{i18n message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{/if}}
<div id="add-question" class="well">
    <form class="form-horizontal" method="post">
        <div id="new-security-question">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <label class="control-label" for="question-list">{{i18n "security.question.label.securityQ"}}</label>
                    <select class="form-control" id="question-list" name="question_list" aria-labelledby="questions-dropdown">
                        {{#each questionList}}
                            <option value="{{questionSetId}}:{{questionId}}">{{question}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <label class="control-label" for="question-answer">{{i18n "security.question.label.answer"}}</label>
                    <input id="question-answer" name="question-answer" type="text" class="form-control">
                    <input type="hidden" name="action" value="add-question">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">{{i18n "security.question.label.add"}}</button>
        </div>
    </form>
</div>
{{#if isUserHasQuestions }}
    <div id="list-questions">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div id="create-question" class="pull-right add-margin-bottom-4x">
                    <button class="btn btn-secondary btn-lg" onclick="addQuestion()"><span
                            class="fw fw-add fw-1x"></span>{{i18n "security.question.label.create"}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div id="question-list">
                    {{#each userQuestions}}
                        <div class="question">
                            <span class="question-text">{{question}}</span>
                            <div class="pull-right">
                                <a aria-label="Edit"
                                   onclick="editQuestion('{{questionId}}', '{{questionSetId}}', '{{question}}')">
                                    <span class="fw fw-edit" aria-hidden="true"></span>
                                </a>
                                <a aria-label="Delete" onclick="deleteQuestion({{ this.questionId }}, '{{ this.questionSetId }}')">
                                    <span class="fw fw-delete" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/if}}
<div id="edit-question">
    <div id="info">
        <div class="message message-info">
            <h4><i class="icon fw fw-info"></i>{{i18n "password.info.header"}}</h4>
            <p>{{i18n "security.question.info.body"}}</p>
        </div>
    </div>
    <form class="form-horizontal" method="post" id="questionUpdateForm">
        <div id="password">
            <div class="form-group">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label" for="old-password">{{i18n "security.question.label.password"}}<span>*</span></label>
                    <input type="password" class="form-control" id="old-password" name="old-password" required/>
                </div>
            </div>
        </div>
        <div id="security-question">
            <label class="control-label">{{i18n "signup.security.question"}}</label>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="current-question"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                    <label class="control-label">{{i18n "signup.security.question.answer"}}</label>
                    <input class="form-control" type="text" id="answer">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary add-margin-bottom-3x" onclick="updateQuestion()">
            {{i18n "security.question.label.update"}}</button>
        <input type="button" class="btn btn-default add-margin-bottom-3x"
               value='{{i18n "security.question.label.cancel"}}' onclick="goBack()">
        <input type="hidden" id="question-id" name="question-id" value="">
        <input type="hidden" id="question-set-id" name="question-set-id" value="">
        <input type="hidden" name="action" value="update-question">
    </form>
</div>
