{{css "css/security-questions.css"}}
{{js "js/security-questions.js"}}

<h3>{{t "user-portal.user.account.securityQ"}}</h3>
<hr/>
<div id="add-question" class="well">
    <form class="form-horizontal" method="post">
        <div id="new-security-question">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label for="question-list">Security Question</label>
                    <select id="question-list" name="question_list" aria-labelledby="questions-dropdown">
                        {{#each questionList}}
                            <option value="{{ questionId }}">{{ question }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <label for="question-answer">Answer</label>
        <input id="question-answer" name="question-answer" type="text">
        <input type="submit" class="btn btn-primary" value="Add">
        <input type="hidden" name="action" value="add-question">
    </form>
</div>
<div id="list-questions">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div id="create-question" class="pull-right add-margin-bottom-4x">
                <button class="btn btn-secondary btn-lg" onclick="addQuestion()"><span
                        class="fw fw-add fw-1x"></span> Create
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div id="question-list">
                {{#each userQuestions}}
                    <div class="question">
                        <span class="question-text">{{ this.question }}</span>
                        <div class="pull-right">
                            <a aria-label="Edit" onclick="editQuestion({{ this.questionId }})">
                                <span class="fw fw-edit" aria-hidden="true"></span>
                            </a>
                            <a aria-label="Delete" onclick="deleteQuestion({{ this.questionId }})">
                                <span class="fw fw-delete" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div id="edit-question">
    <div id="info">
        <div class="alert alert-info" role="alert">
            <i class="icon fw fw-info"></i>
            {{t "user-portal.user.account.security.question.info"}}
        </div>
    </div>
    <form class="form-horizontal">
        <div id="password">
            <div class="form-group">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <label for="old-password">Password</label>
                    <input type="password" class="form-control" id="old-password"/>
                </div>
            </div>
        </div>
        <div id="security-question">
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="current-question"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" id="answer">
                </div>
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="Update" onclick="updateQuestion()"/>
        <input type="hidden" name="action" value="update-question">
    </form>
</div>
