{{css "css/security-questions.css"}}
{{js "js/security-questions.js"}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}

<h3>{{i18n "account.securityQ"}}</h3>
<hr/>

{{#defineZone "minQuestionError-area"}}
    <div id="minQuestionError">
        <!-- Error message for minimum num of questions is displayed here -->
    </div>
{{/defineZone}}
{{#if success}}
    {{#if message}}
        <div class="alert alert-success" role="alert">
            <i class="icon fw fw-success"></i><strong>{{i18n "profile.success"}}</strong>
            {{i18n message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{else}}
    {{#if message}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>{{i18n "profile.failure"}}</strong>
            {{i18n message}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{/if}}
{{/if}}
{{#if passwordform}}
    <div id="check-password">
        <form class="form-horizontal" method="post" action="?security-questions#security-questions">
            <div id="info">
                <div class="message message-info">
                    <p>{{i18n "security.question.info.body"}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <label class="control-label" for="old-password">{{i18n "security.question.label.password"}}<span>*</span></label>
                    <input type="password" class="form-control" id="old-password" name="old-password" required/>
                </div>
            </div>
            <input type="hidden" name="action" value="check-password">
            <button type="submit" class="btn btn-primary">{{i18n "security.question.label.continue"}}</button>
        </form>
    </div>
{{/if}}
{{#if isUserAuthenticated}}
    <div id="add-question">
        <form class="form-horizontal" method="post" id="questionAdd" action="?security-questions#security-questions">
            <div class="message message-info">
                <p><i class="icon fw fw-info"></i>{{i18n "security.question.add.info.body.part1"}}&nbsp;{{minQuestions}}
                    {{i18n "security.question.add.info.body.part2"}}</p>
            </div>
            <div id="new-security-question">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{i18n "security.question.label.securityQ"}}</th>
                                <th>{{i18n "security.question.label.answer"}}</th>
                            </tr>
                            </thead>
                            {{#each questionList}}
                                <tr>
                                    <td>
                                        <select class="form-control" id="question-list" name="question_list"
                                                aria-labelledby="questions-dropdown">
                                            {{#each challengeQuestionList}}
                                                <option name="{{questionSetId}}"
                                                        value="{{questionSetId}}:{{questionId}}">{{question}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                    <td>
                                        <div class="table-input">
                                            <input id="question-answer-{{challengeQuestionSetId}}"
                                                   name="question-answer-{{challengeQuestionSetId}}" type="text"
                                                   class="form-control question-answer">
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="row">
                    <input type="hidden" id="min-questions" name="min-questions" value={{minQuestions}}>
                    <input type="hidden" id="has-answered" name="has-answered" value={{hasAddedQuestionsBefore}}>
                    <input type="hidden" name="action" value="add-question">
                    <button type="button" class="btn btn-primary"
                            onclick="checkMinQuestions()">{{i18n "security.question.label.add"}}</button>
                </div>
            </div>
        </form>
    </div>
{{/if}}
{{#if isUserHasQuestions }}
    <div id="list-questions">
        <form class="form-horizontal" method="post" id="questionListAndAdd">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    {{#if isQuestionsRemaining}}
                        <div id="create-question" class="pull-right add-margin-bottom-4x">
                            <button type="submit" class="btn btn-secondary btn-lg"><span
                                    class="fw fw-add fw-1x"></span>{{i18n "security.question.label.create"}}
                            </button>
                        </div>
                    {{/if}}
                    <input type="hidden" name="action" value="add-more-questions">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div id="question-list">
                        {{#each userQuestions}}
                            <div class="question">
                                <span class="question-text">{{question}}</span>
                                <div class="pull-right">
                                    <a aria-label="Edit"
                                       onclick="editQuestion('{{questionId}}', '{{questionSetId}}', '{{question}}')">
                                        <span class="fw fw-edit" aria-hidden="true"></span>
                                    </a>
                                    <a aria-label="Delete"
                                       onclick="deleteQuestion({{ this.questionId }}, '{{ this.questionSetId }}')">
                                        <span class="fw fw-delete" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </form>
    </div>
{{/if}}
<div id="edit-question">
    <form class="form-horizontal" method="post" id="questionUpdateForm" action="?security-questions#security-questions">
        <div id="security-question">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{i18n "security.question.label.securityQ"}}</th>
                        <th>{{i18n "security.question.label.answer"}}</th>
                    </tr>
                    </thead>
                        <tr>
                            <td>
                                <div id="current-question"></div>
                            </td>
                            <td>
                                <div class="table-input">
                                    <input class="form-control" type="text" id="new-answer" name="new-answer">
                                </div>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
        <button type="button" class="btn btn-primary add-margin-bottom-3x" onclick="updateQuestion()">
            {{i18n "security.question.label.update"}}</button>
        <input type="button" class="btn btn-default add-margin-bottom-3x"
               value='{{i18n "security.question.label.cancel"}}' onclick="goBack()">
        <input type="hidden" id="question-id" name="question-id" value="">
        <input type="hidden" id="question-set-id" name="question-set-id" value="">
        <input type="hidden" name="action" value="update-question">
    </form>
</div>