<ul class="nav navbar-right">
    <li class="visible-inline-block">
        <a class="dropdown" data-toggle="dropdown" aria-expanded="false">
            {{#if profileImage}}
                <img src="/user-portal/root/apis/profile-image-service/image?userid={{userId}}" alt="profileimage"
                     class="img-circle" height="30px">
            {{else}}
                <span class="icon fw-stack">
                               <i class="fw fw-circle fw-stack-2x"></i>
                               <i class="fw fw-user fw-stack-1x fw-inverse"></i>
                               </span>
            {{/if}}
            <span class="hidden-xs add-margin-left-1x">{{username}}<span class="caret"></span></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right slideInDown" role="menu">
            <li><a href="{{@contextPath}}/account/account-setting">Account Settings</a></li>
            <li><a href="{{@contextPath}}/logout">Logout</a></li>
        </ul>
    </li>
</ul>