<script type="text/javascript">
                function validate() {
                    {{#each ctxData}}

                       if (validateEmpty("ans_{{count}}").length > 0) {
	                       var msg = "{{this.displayName}} {{../messages.required}}";
     	              		 message({content:msg,type:'warning', cbk:function(){} });
                           return false;
                       }
                    {{/each}}
                    $("form[id='profileForm']").submit();
                }
            </script>


<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>Account Recovery</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form method="post" action="controllers/account_recovery/edit_finish.jag"  class="form-horizontal" id="profileForm">
            {{#each ctxData}}
            <fieldset>
                <input type="hidden" name="challangedId_{{count}}" value="{{questionSetId}}"/>
                <legend>{{this.displayName}}</legend>
                <div class="control-group">
                    <label class="control-label" for="q1">{{../messages.challenge_question}} <span class="required">*</span></label>

                    <div class="controls">
                        <select id="q1" name="question_{{count}}" class="input-xxlarge">
                            {{#each this.questions}}
                                {{#if this.selected}}
                                    <option name="q" selected="selected" value="{{this.question}}">{{this.question}}</option>
                                {{else}}
                                    <option name="q" value="{{this.question}}">{{this.question}}</option>
                                {{/if}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="q1answer">{{../messages.your_answer}} <span class="required">*</span></label>

                    <div class="controls">
                    {{#if this.answer}}
                        <input type="password" name="ans_{{count}}" class="input-xxlarge" value="{{this.answer.answer}}" />
                    {{else}}
                        <input type="password" name="ans_{{count}}" class="input-xxlarge" value="" />
                    {{/if}}
                    </div>
                </div>
            </fieldset>
            {{/each}}



            <div class="control-group">
                <div class="controls">
                    <input type="button" class="btn btn-primary" value="{{messages.update}}" onclick="validate();"/>
                    <input type="button" class="btn" value="{{messages.cancel}}" onclick="cancelProcess();"/>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>