<script type="text/javascript">
   function validate(){

       var valid = true;
       $("form[id='pwdChange'] input[type='password']").each(function(){
           if ($(this).val().length <= 0) {

               message({content:'$(this).attr("id") + {{messages.required}}',type:'error', cbk:function(){} });
               valid = false;
               return false;
           }
       });

       var pwd = $("input[name='newPwd']").val();
       var retype = $("input[name='confirmNewPwd']").val();

       if(pwd != retype){
           message({content:'{{messages.pwd_numbers_should_be_equals}}',type:'error', cbk:function(){} });
           valid = false;
       }


       if(valid){
           $("form[id='pwdChange']").submit();
       }
   }

   function cancel(){
       location.href="index.jag";
   }
</script>
<div class="container content-starter">
   <div class="row">
      <div class="col-lg-12">
         <h1>{{messages.change_pwd}}</h1>
      </div>
   </div>
</div>
<div class="container content-section-wrapper">
   <div class="row">
      <div class="col-lg-12 content-section">
         <form method="post" class="form-horizontal" id="pwdChange" name="pwdChange" action="controllers/pwd_change/edit.jag?" >
            <fieldset>
               <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th colspan="2">{{messages.enter_new_pwd}}</th>
                      </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><label class="">{{messages.current_pwd}}</label> </td>
                        <td>
                            <input type="password" value="" id="{{messages.current_pwd}}" name="currentPwd"  class="col-lg-3" />
                        </td>
                     </tr>
                      <tr>
                         <td><label class="">{{messages.new_pwd}}</label> </td>
                         <td>
                             <input type="password" value="" id="{{messages.new_pwd}}" name="newPwd"  class="col-lg-3" />
                         </td>
                      </tr>
                       <tr>
                          <td><label class="">{{messages.confirm_new_pwd}}</label> </td>
                          <td>
                              <input type="password" value="" id="{{messages.confirm_new_pwd}}" name="confirmNewPwd"  class="col-lg-3" />
                          </td>
                       </tr>
                  </tbody>
               </table>
            </fieldset>
            <div class="control-group">
               <div class="controls">
                  <input type="button" onclick="validate();" class="btn btn-primary" value="{{messages.update}}"/>
                  <input type="button" onclick="cancelProcess();" class="btn" value="{{messages.cancel}}"/>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<script>
   $().ready(function () {
       // validate the comment form when it is submitted
       $("#profileForm").validate();
   });
</script>