<script type="text/javascript">
   function validate(){
   
       var valid = true;
       $("form[id='multifacForm'] input[type='text'], form[id='multifacForm'] input[type='password']").each(function(){
           if ($(this).val().length <= 0) {
           		var msg = $(this).attr("id") + ' {{messages.required}}';
				message({content:msg,type:'error', cbk:function(){} });
               valid = false;
               return false;
           }
       });
   
       var pin = $("input[name='pinNumber']").val();
       var retype = $("input[name='retypePIN']").val();
   
       if(pin != retype){
			message({content:'{{messages.pin_numbers_should_be_equals}}',type:'error', cbk:function(){} });
           valid = false;
       }
   
   
       if(valid){
           $("form[id='multifacForm']").submit();
       }
   }
   
   function cancel(){
       location.href="multifactor_authentication.jag";
   }
</script>
<div class="container content-starter">
   <div class="row">
      <div class="col-lg-12">
         <h1>Multifactor Authentication</h1>
      </div>
   </div>
</div>
<div class="container content-section-wrapper">
   <div class="row">
      <div class="col-lg-12 content-section">
         <form method="post" class="form-horizontal" id="multifacForm" name="multifacForm" action="controllers/multy_factor_auth/edit_finish.jag?" >
            <input type="hidden" name="op" value="{{ctxData.operation}}" />
            <fieldset>
               <table class="table table-bordered">
                  <tbody>
                     <tr>
                        <td style="width:40%;"><label class="">{{messages.xmpp_provider}}</label> </td>
                        <td>
                           <select name="provider" class="col-lg-3">
                              {{#if ctxData.config}}
                              <option value="{{ctxData.config.xmppServer}}">{{messages.gtalk}}</option>
                              {{else}}
                              <option value="Gtalk">{{messages.gtalk}}</option>
                              {{/if}}
                           </select>
                        </td>
                     </tr>
                     <tr>
                        <td><label class="" for="xmppUserName">{{messages.user_name}}<span class="required">*</span></label></td>
                        <td>
                           <input type="text" value="{{ctxData.config.xmppUserName}}" id="{{messages.user_name}}" name="xmppUserName"  class="col-lg-3" />   
                        </td>
                     </tr>
                     <tr>
                        <td>                 <label class="" for="pinNumber">{{messages.pin_number}}<span class="required">*</span></label></td>
                        <td>
                           <input type="password" value="{{ctxData.config.userCode}}" id="{{messages.pin_number}}" name="pinNumber" class="col-lg-3"  />
                        </td>
                     </tr>
                     <tr>
                        <td><label class="" for="reTypePIN">{{messages.retype_pin_number}}<span class="required">*</span></label></td>
                        <td>
                           <input type="password" value="{{ctxData.config.userCode}}" id="{{messages.retype_pin_number}}" name="retypePIN" class="col-lg-3" />
                        </td>
                     </tr>
                     <tr>
                     	                        <td>
                           {{messages.pin_auth_enabled}}
                        </td>
                     	
                        <td>{{#if  ctxData.config.PINEnabled}}
                           <input type="checkbox" checked="checked" value="true" id="pinAuth" name="pinAuth" />
                           {{else}}
                           <input type="checkbox" value="true" id="pinAuth" name="pinAuth"  />
                           {{/if}}
                        </td>
                     </tr>
                     <tr>
                     	                        <td>
                           {{messages.xmpp_auth_enabled}}
                        </td>
                     	
                        <td>                                     {{#if  ctxData.config.xmppEnabled}}
                           <input type="checkbox" checked="checked" value="true" id="xmppEnabled" name="xmppEnabled"  />
                           {{else}}
                           <input type="checkbox" value="true" id="xmppEnabled" name="xmppEnabled"  />
                           {{/if}}
                        </td>
                     </tr>
                  </tbody>
               </table>
            </fieldset>
            <div class="control-group" style="text-align:center;">
               <div class="controls">
                  <input type="button" onclick="validate();" class="btn btn-primary" value="{{messages.update}}"/>
                  <input type="button" onclick="cancelProcess();" class="btn" value="{{messages.cancel}}"/>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<script>
   $().ready(function () {
       // validate the comment form when it is submitted
       $("#profileForm").validate();
   });
</script>