<script type="text/javascript">
        function itemRemove(appName) {
        		var msg = "{{messages.remove_message1}} " + appName + "{{messages.remove_message2}}";
               message({content:msg,type:'confirm',okCallback:function(){
						$("input[name='appName']").val(appName);
                        $("form[id='authAppForm']").submit();
               		
               },cancelCallback:function(){}});
        }
    </script>

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Authorized Apps</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form action="controllers/my_auth_apps/my_authorized_app_remove.jag" method="post" id="authAppForm">
        <input type="hidden" name="appName" value="" />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{messages.authorized_applications}}</th>
                    <th>{{messages.application_developer}}</th>
                    <th>{{messages.actions}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each ctxData}}
                <tr>
                    <td>{{this.applicationName}}</td>
                    <td>{{this.username}}</td>
                    <td><a title="{{../messages.removeApp}}" onclick="itemRemove('{{this.applicationName}}');"
                                                    href="javascript:void(0)"><i class="icon-trash"></i> {{../messages.removeApp}}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        </form>
    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>