 <script type="text/javascript">
                function itemRemove(providerId) {

                    var msg = "{{messages.remove_message1}}" + providerId + "{{messages.remove_message2}}";
                        message({content:msg,type:'confirm',
                        okCallback:function(){

                            location.href = "controllers/identity-management/edit.jag?id=" + encodeURI(providerId);

                        },cancelCallback:function(){}
                         });
                }
            </script>

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{messages.myopen_ids}}</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{{messages.myopen_ids}}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                {{#each ctxData}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>
                    {{#if this.primary}}
                        {{../../messages.primary_openId}}
                    {{else}}
                        <a title="" onclick="itemRemove('{{this.id}}');"
                                                                                    href="javascript:void(0)"><i class="icon-trash"></i> {{../../messages.remove}}</a>
                    {{/if}}

                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>