<div class="container content-starter">

<script type="text/javascript">
                function validate() {
                {{#each ctxData.fieldValues}}

                       {{#if this.readOnly}}
                       {{else}}

                           {{#if this.required }}
                               if (validateEmpty("{{this.displayName}}").length > 0) {
                               	message({content:'{{this.displayName}} {{../../../messages.required}}',type:'warning', cbk:function(){} });
                                   return false;
                               }
                           {{/if}}

                           {{#if this.regEx}}
                                var value = document.getElementsByName("{{this.displayName}}")[0].value;
                                var reg = new RegExp("{{this.regEx}}");
                                var valid = reg.test(value);
                                if (value != '' && !valid) {
									message({content:'{{this.displayName}} {{../../../messages.not_valid}}',type:'warning', cbk:function(){} });
                                    return false;
                                }


                           {{/if}}
                       {{/if}}
                {{/each}}


                var unsafeCharPattern = /[<>`\"]/;
                var elements = document.getElementsByTagName("input");
                for(i = 0; i < elements.length; i++){
                    if((elements[i].type === 'text' || elements[i].type === 'password') &&
                       elements[i].value != null && elements[i].value.match(unsafeCharPattern) != null){
						message({content:'{{messages.unsafe_char_validation}}',type:'warning', cbk:function(){} });
                        return false;
                    }
                }

                    document.updateProfileform.submit();
                }
            </script>



    <div class="row">
        <div class="col-lg-12">
            <h1>My Profiles</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form method="post" class="form-horizontal" id="updateProfileform" name="updateProfileform" action="controllers/my-profile/edit-finish.jag?" >

            <input type="hidden" name="profile" value="{{ctxData.profileName}}" />
            <div class="control-group">
                <label class="control-label" for="profileName">{{messages.profile_name}} <span class="required">*</span></label>

                <div class="controls">
                    <input type="text" id="profileName" disabled="" name="profileName" placeholder="Profile Name" value="{{ctxData.profileName}}" class="required"/>
                </div>
            </div>
            {{#each ctxData.fieldValues}}
            <div class="control-group">
                <label class="control-label" for="{{this.displayName}}">{{this.displayName}} {{#if this.required }} <span class="required">*</span> {{/if}} </label>

                <div class="controls">
                	{{#if this.readOnly}}
							<input type="text" disabled="" value="{{this.fieldValue}}" id="{{this.displayName}}" name="{{this.displayName}}"  />
							<input type="hidden" name="{{this.displayName}}" value="{{this.fieldValue}}" />
                	{{else}}
							<input type="text" value="{{this.fieldValue}}" id="{{this.displayName}}" name="{{this.displayName}}"  />
                	{{/if}}
                </div>
            </div>
            {{/each}}
            <div class="control-group">
                <div class="controls">
                    <input type="button" onclick="validate();" class="btn btn-primary" value="{{messages.update}}"/>
                    <input type="button" onclick="cancelProcess();" class="btn" value="{{messages.cancel}}"/>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>