 <script type="text/javascript">
                function itemRemove(providerId) {
                var msg = "{{messages.remove_message1}} " + providerId + " {{messages.remove_message2}}";
                       message({content:msg,type:'confirm',okCallback:function(){
                            location.href = "controllers/scim-providers/delete_finish.jag?providerId=" + providerId;
                       },cancelCallback:function(){}});
                }
            </script>

<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>My SCIM Providers</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">

                <div>
                    <a href="javascript:document.location.href='scim_edit.jag?op=n'"><i class="icon-plus"></i> {{messages.register_new_scim_prov}}</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{messages.available_scim_providers}}</th>
                            <th>{{messages.actions}}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each ctxData}}
                        <tr>
                            <td><a href="scim_edit.jag?provider={{this.providerId}}&op=e">{{this.providerId}}</a></td>
                            <td><a title="" onclick="itemRemove('{{this.providerId}}');"
                                                            href="javascript:void(0)"><i class="icon-trash"></i> {{../messages.remove}}</a></td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>



    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>