<script type="text/javascript">
    function validate(){

        var valid = true;
        $("form[id='scimForm'] input[type='text'], form[id='scimForm'] input[type='password']").each(function(){
            if ($(this).val().length <= 0) {
                var name = $(this).attr("id");
                name = name + ' {{messages.required}}';
                message({content:name,type:'info', cbk:function(){} });

                valid = false;
                return false;
            }
        });

        if(valid){
            $("form[id='scimForm']").submit();
        }
    }

    function cancel(){
        location.href="my_scim_providers.jag";
    }
</script>


<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>View/Update SCIM Provider Configuration</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
                <form action="controllers/scim-providers/edit_finish.jag" method="post" id="scimForm">
                        <input type="hidden" name="op" value="{{#if isEdit}}e{{else}}n{{/if}}" />
                        <fieldset>
                        <table class="table table-bordered">
                            <thead>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>{{messages.provider_id}}</td>
                                    {{#if isEdit}}
                                    <td>{{ctxData.providerId}}
                                    <input type="hidden" name="providerId" value="{{ctxData.providerId}}"/>
                                    </td>
                                    {{else}}
                                    <td>
                                    <input type="text" name="providerId" id="Provider Id" value="{{ctxData.providerId}}"/>
                                    </td>
                                    {{/if}}
                                </tr>
                                <tr>
                                    <td>{{messages.user_name}}*</td>
                                    <td>
                                    <input type="text" name="userName" id="User Name" value="{{ctxData.userName}}" /></td>
                                </tr>
                                <tr>
                                    <td>{{messages.pwd}}*</td>
                                    <td>
                                    <input type="password" name="pwd" id="Password" value="{{ctxData.password}}" /></td>
                                </tr>
                                <tr>
                                    <td>{{messages.user_endpoint}}*</td>
                                    <td>
                                    <input type="text" name="userEndpoint" id="User Endpoint" value="{{ctxData.userEPURL}}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{messages.grp_endpoint}}*</td>
                                    <td>
                                    <input type="text" name="grpEndpoint" id="Group Endpoint" value="{{ctxData.groupEPURL}}" /></td>
                                </tr>
                            </tbody>
                        </table>
                        </fieldset>

                          <div style="text-align: right;" class="control-group">
                                        <div class="controls">
                                            <input type="button" class="btn btn-primary" value="{{messages.update}}" onclick="validate();"/>
                                            <input type="button" class="btn" value="{{messages.cancel}}" onclick="cancel();"/>
                                        </div>
                                    </div>

                </form>

    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>