<div class="container content-starter">

<script type="text/javascript">
                function validate() {
                {{#each ctxData.fieldValues.return}}

                       {{#if this.readOnly}}
                       {{else}}

                           {{#if this.required }}
                               if (validateEmpty("{{this.claimUri}}").length > 0) {
                                   message({content:'{{this.fieldName}} {{../../../messages.required}}',type:'error', cbk:function(){} });
                                   return false;
                               }
                           {{/if}}

                           {{#if this.regEx}}
                                var value = document.getElementsByName("{{this.claimUri}}")[0].value;
                                var reg = new RegExp("{{this.regEx}}");
                                var valid = reg.test(value);
                                if (value != '' && !valid) {
                                    message({content:'{{this.fieldName}} {{../../../messages.not_valid}}',type:'error', cbk:function(){} });
                                    return false;
                                }


                           {{/if}}
                       {{/if}}
                {{/each}}

               if (validateEmpty("userName").length > 0) {
                    var msg = $("input[name='userName']").attr("id") + "{{messages.required}}";
                   message({content:msg,type:'error', cbk:function(){} });
                   return false;
               }

               if (validateEmpty("pwd").length > 0) {
                    var msg = $("input[name='pwd']").attr("id") + "{{messages.required}}";
                   message({content:msg,type:'error', cbk:function(){} });
                   return false;
               }

               if (validateEmpty("retypePwd").length > 0) {
                    var msg = $("input[name='retypePwd']").attr("id") + "{{messages.required}}";
                   message({content:'',type:'error', cbk:function(){} });
                   return false;
               }

                var pwd = $("input[name='pwd']").val();
                var retypePwd = $("input[name='retypePwd']").val();

                if(pwd != retypePwd){
                	var msg = "{{messages.pwd_numbers_should_be_equals}}";
                   message({content:msg,type:'error', cbk:function(){} });
                   return false;
                }

                var domain = $("select[name='domain']").val();
                var pwdRegex = $("input[name='regExp_"+ domain +"']").val();

                var reg = new RegExp(pwdRegex);
                var valid = reg.test(pwd);
                if (value != '' && !valid) {
                    message({content:'{{messages.pwd}} {{messages.not_valid}}',type:'error', cbk:function(){} });
                    return false;
                }



                var unsafeCharPattern = /[<>`\"]/;
                var elements = document.getElementsByTagName("input");
                for(i = 0; i < elements.length; i++){
                    if((elements[i].type === 'text' || elements[i].type === 'password') &&
                       elements[i].value != null && elements[i].value.match(unsafeCharPattern) != null){
                       message({content:'{{messages.unsafe_char_validation}}',type:'error', cbk:function(){} });
                        return false;
                    }
                }

                    document.selfReg.submit();
                }
            </script>



    <div class="row">
        <div class="col-lg-12">
            <h1>{{messages.self_signup}}</h1>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">
        <form method="post" class="form-horizontal" id="selfReg" name="selfReg" action="controllers/user-registration/add.jag?" >

            {{#each ctxData.pwdRegexps.return}}
                <input type="hidden" name="regExp_{{this.domainName}}" value="{{this.regEx}}" />
            {{/each}}
            <div class="control-group">
                <label class="control-label" for="domain">{{messages.domain_name}}<span class="required">*</span></label>

                <div class="controls">
                    <select class="col-lg-3" name="domain">
                        {{#each ctxData.pwdRegexps.return}}
                            <option value="{{this.domainName}}">{{this.domainName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label " for="{{messages.user_name}}">{{messages.user_name}}<span class="required">*</span></label>

                <div class="controls">
                    <input class="col-lg-3" type="text" value="" id="{{messages.user_name}}" name="userName"  />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="{{messages.pwd}}">{{messages.pwd}} <span class="required">*</span> </label>

                <div class="controls">
                    <input class="col-lg-3" type="password" value="" id="{{messages.pwd}}" name="pwd"  />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="{{messages.retype_pwd}}">{{messages.retype_pwd}} <span class="required">*</span> </label>

                <div class="controls">
                    <input class="col-lg-3" type="password" value="" id="{{messages.retype_pwd}}" name="retypePwd"  />
                </div>
            </div>

            {{#each ctxData.fieldValues.return}}
            <div class="control-group">
                <label class="control-label" for="{{this.fieldName}}">{{this.fieldName}} {{#if this.required }} <span class="required">*</span> {{/if}} </label>

                <div class="controls">
                    <input class="col-lg-3" type="text" value="" id="{{this.fieldName}}" name="{{this.claimUri}}"  />
                </div>
            </div>
            {{/each}}
            <div class="control-group">
                <div class="controls">
                    <input type="button" onclick="validate();" class="btn btn-primary" value="{{messages.update}}"/>
                    <input type="button" onclick="cancelProcessToLogin();" class="btn" value="{{messages.cancel}}"/>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script>
$().ready(function () {
    // validate the comment form when it is submitted
    $("#profileForm").validate();
});
</script>