{{layout "org.wso2.carbon.uuf.common.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{css "css/user-portal.css"}}
{{#fillZone "content"}}
    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
            <i class="icon fw fw-error"></i><strong>Error in user self sign-up!</strong>
            {{errorMessage}}
            <button type="button" class="close" aria-label="close" data-dismiss="alert">
                <span aria-hidden="true">
                    <i class="fw fw-cancel"></i>
                </span>
            </button>
        </div>
    {{else}}
        <div class="page-content-wrapper">
            <div class="container">
                <div class="signup-form-wrapper">
                    <h3 class="signup-header">{{t "user-portal.user.add"}}</h3></br>
                    <form method="post" class="form-horizontal">
                        <div class="form-group">
                            {{#each signupClaims}}

                                {{#if this.required}}
                                    </br><label for={{this.displayLabel}}>{{this.displayName}}<span>*</span></label></br>
                                    <input type={{#if this.dataType}}{{this.dataType}}{{else}}"text"{{/if}}
                                            name={{this.claimURI}} id={{this.displayLabel}} class="form-control" pattern={{#if this.regex}}{{this.regex}}{{/if}}
                                            placeholder={{this.displayLabel}} required/>
                                {{else}}
                                    <label for={{this.displayLabel}}>{{this.displayName}}</label></br>
                                    <input type={{#if this.dataType}}{{this.dataType}}{{else}}"text"{{/if}}
                                            name={{this.claimURI}} id={{this.displayLabel}} class="form-control" pattern={{#if this.regex}}{{this.regex}}{{/if}}
                                            placeholder={{this.displayLabel}} />
                                {{/if}}

                            {{else}}
                                {{log "No Defined Claims for the user self sign-up!" level="error"}}
                                <p class="empty">No content</p>

                            {{/each}}

                            </br>
                            <label for=password>Password<span>*</span></label></br>
                            <input type="text" name="password" id="password" class="form-control" placeholder="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})" required/>
                            </br></br><input id="register" class="btn btn-default btn-primary add-margin-right-2x"
                                             type="submit" value="Register"/></div>
                    </form>
                </div></div></div>
    {{/if}}
{{/fillZone}}

