{{layout "org.wso2.carbon.uuf.common.foundation.main"}}
{{favicon "images/favicon.png" type="image/png"}}
{{title "Home | " @config.appName}}
{{#fillZone "content"}}
    <!--<h3>{{t "user-portal.user.add"}}</h3></br>
    <form method="post" class="form-horizontal">
    {{#each signupClaims}}
        <div class="form-group">
        <label for={{this.displayLabel}}>{{this.displayName}}</label>
        <input type="text" name={{this.claimURI}} id={{this.displayLabel}} class="form-control" placeholder={{this.displayLabel}} />
        </div>
    {{/each}}
        </br><input id="register" type="submit" value="Register"/>
    </form>-->
{{/fillZone}}