{{#if hasUserQuestions}}
    <input type="hidden" name="question-recovery-code" value="{{recoveryCode}}">
    {{#each userQuestions}}
        <div class="form-group add-margin-bottom-5x">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="control-label">{{i18n "question"}}</label>
                <p>{{question}}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <label for="input-sec-question" class="control-label">{{i18n "answer"}}</label>
                <input type="text" class="form-control sec-question-answer" name="{{questionSetId}}"
                       id="input-sec-question-{{questionSetId}}" required>
            </div>
        </div>
    {{/each}}
    <div class="form-group add-margin-top-5x">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <button type="submit" id="pwd-recover-email"
                    class="btn btn-default btn-primary add-margin-right-2x">{{i18n "recover"}}</button>
            <a href="{{@contextPath}}/" class="hidden-xs hidden-sm">
                {{i18n "back.to.sign.in"}}</a>
            <a href="{{@contextPath}}/"
               class="visible-xs visible-sm add-margin-2x text-center">
                {{i18n "back.to.sign.in"}}</a>
        </div>
    </div>
{{else}}
    <div class="form-group add-margin-bottom-5x">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-horizontal">
                <p>{{i18n "no.recovery.questions.answered"}}</p>
            </div>
        </div>
    </div>
    <div class="form-group add-margin-top-5x">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a href="{{@contextPath}}/" class="hidden-xs hidden-sm">
                {{i18n "back.to.sign.in"}}</a>
            <a href="{{@contextPath}}/"
               class="visible-xs visible-sm add-margin-2x text-center">
                {{i18n "back.to.sign.in"}}</a>
        </div>
    </div>
{{/if}}
